html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  text-align: center;
  background-image: url('assets/img/backgroundChristmas.png');
  background-size: cover;
  background-position: center;
}

p {
  margin-top: 0;
  padding-top: 20px;
}

.card-container {
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
}

.card-container h1 {
  color: #ffd400;
}

h1 {
  margin-top: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

